.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 18.75rem;
  height: 36.25rem;
  box-sizing: border-box;
  background: var(--grey-50);
  border-radius: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
}

.weatherNavMessage {
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-bold);
  color: var(--grey-20);
  background-color: var(--grey-98);
  border-radius: 1.5rem;
  padding: 0.5rem 1.25rem;
}

.weatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.weatherInfo > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cardFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}