.wholeWrapper {
  position: relative;
}

.selectButton {
  display: flex;
  width: max-content;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  align-items: center;
  gap: 0.125rem;
  background-color: var(--grey-opacity-white-70);
  backdrop-filter: blur(50px);
  border-radius: 6.25rem;
}

.dropdownWrapper {
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--grey-opacity-white-70);
  backdrop-filter: blur(50px);
}

.dropdownTitleWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  color: var(--grey-100);
}

